<ul class="guide__list">
  <li class="guide__item" *ngFor="let item of guide">
    <fa-icon class="guide__icon" icon="check" [class.active]="item.completed">
    </fa-icon>
    <p class="mb-0">
      <ng-container *ngFor="let el of item.text">
        <a *ngIf="el.url" [routerLink]="[el.url]" [queryParams]="el.queryParams"
          >&nbsp;{{ el.text }}&nbsp;</a
        >
        <span *ngIf="!el.url">{{ el }}</span>
      </ng-container>

      <ng-container *ngIf="item.options">
        <div class="guide__item-list" *ngFor="let option of item.options">
          <label>
            <input
              type="radio"
              class="form-check-input"
              name="item.key"
              [ngModel]="item.value"
              (ngModelChange)="update(option.value, item)"
              [value]="option.value"
              hidden
            />
            <div class="radio-circle sm">
              <div class="inner"></div>
            </div>
            <span>{{ option.text }}</span>
          </label>
        </div>
      </ng-container>
    </p>
  </li>
</ul>
