@use 'variables' as *;

webui-checkbox {
  display: inline-flex;
}

.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: #fff;

  fa-icon {
    visibility: hidden;
    font-size: 8px;
    color: white;
  }

  &--sm {
    width: 14px;
    height: 14px;
  }

  &.checked {
    border-color: $primary;
    background-color: $primary;
    color: white;

    @each $item in $themes {
      .#{$item}-theme & {
        border-color: map-get($theme-colors, $item);
        background-color: map-get($theme-colors, $item);
      }
    }

    fa-icon {
      visibility: visible;
    }

    &.info {
      border-color: $info;
      background-color: $info;
    }

    &.success {
      border-color: $success;
      background-color: $success;
    }

    &.danger {
      border-color: $danger;
      background-color: $danger;
    }

    &.warning {
      border-color: $warning;
      background-color: $warning;
    }
  }
}

@include media-breakpoint-down('sm') {
  .checkbox,
  .checkbox--sm {
    width: 20px;
    height: 20px;

    fa-icon {
      font-size: 12px;
    }
  }
}
