<div class="form-group" [formGroup]="group" *ngIf="!config.hide && !viewMode">
  <div class="form-element">
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    <div class="form-element-content edit">
      <label
        class="form-element-checkbox"
        *ngIf="label && config.templateOptions.label"
        [attr.title]="disabledTitle"
        [class.disabled]="formControl.disabled"
        [class.description]="isDisabled"
        [class.has-button]="hasButton"
      >
        <fa-icon
          class="mr-1"
          *ngIf="isIconType"
          [ngClass]="[checkboxClass]"
          [class.disabled]="isDisabled"
          [ngStyle]="{ color: checkboxColor }"
          [icon]="['fas', config.templateOptions.values[formControl.value]]"
        ></fa-icon>

        <input
          type="checkbox"
          class="form-check-input"
          hidden
          #checkbox
          (change)="eventHandler($event)"
          [formControl]="formControl"
          [attr.id]="key"
          [attr.name]="key"
          [disabled]="config.readonly"
        />

        <webui-checkbox
          [sm]="true"
          [checked]="group.get(key)?.value"
          *ngIf="isCheckboxType"
        ></webui-checkbox>

        <span class="button-group" *ngIf="isButtonType">
          <button
            type="button"
            class="btn"
            [class.btn-primary]="currentValue === true"
            (click)="patchValue(true)"
          >
            {{ 'times_only' | translate }}
          </button>

          <button
            type="button"
            class="btn"
            [class.btn-primary]="currentValue === false"
            (click)="patchValue(false)"
          >
            {{ 'piecework_or_combined' | translate }}
          </button>
        </span>

        <ng-container *ngIf="!isButtonType">
          {{
            getTranslationKey(config.key, 'text')
              | translate
                : {
                    Default:
                      config.templateOptions.text ||
                      config.templateOptions.label
                  }
          }}
        </ng-container>

        <button
          *ngIf="hasButton"
          type="button"
          class="btn btn-outline-primary btn-sm ml-2"
          (click)="sendAction($event)"
        >
          Resend
        </button>
      </label>

      <ng-container *ngTemplateOutlet="descriptionTemplate"></ng-container>
    </div>
  </div>
  <div *ngIf="errors">
    <div class="text-danger mt-3" *ngIf="errors[config.key]">
      {{ errors[config.key] }}
    </div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[config.key]" class="text-success mt-1">
      {{ message[config.key] }}
    </div>
  </div>
</div>

<div class="form-group" *ngIf="viewMode && !config.hide">
  <div class="form-element">
    <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
    <div class="form-element-content">
      <div class="form-element-checkbox">
        <span *ngIf="isTextType">
          {{ this.checkboxValue }}
        </span>

        <fa-icon
          [icon]="['fas', checkboxValue]"
          [ngClass]="[checkboxClass]"
          *ngIf="isIconType"
        ></fa-icon>

        <fa-icon
          [icon]="['fas', checkboxValue]"
          [ngClass]="[checkboxClass]"
          *ngIf="isCheckboxType"
        ></fa-icon>

        <label
          [class.has-button]="hasButton"
          class="mb-0"
          *ngIf="label && config.templateOptions.label"
        >
          {{
            getTranslationKey(config.key, 'text')
              | translate
                : {
                    Default:
                      config.templateOptions.text ||
                      config.templateOptions.label
                  }
          }}

          <button
            *ngIf="hasButton"
            type="button"
            class="btn btn-outline-primary btn-sm ml-2"
            (click)="sendAction($event)"
          >
            Resend
          </button>
        </label>

        <ng-container *ngTemplateOutlet="descriptionTemplate"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #descriptionTemplate>
  <webui-info
    *ngIf="config.templateOptions.description"
    [description]="
      getTranslationKey(this.key, 'description')
        | translate: { Default: config.templateOptions.description || '' }
    "
  >
  </webui-info>
</ng-template>

<ng-template #labelTemplate>
  <label *ngIf="hasLabel" class="form-element-label" [attr.for]="key">
    {{
      getTranslationKey(config.key, 'label')
        | translate
          : {
              Default:
                config.templateOptions.label ||
                config.templateOptions.label_default
            }
    }}:
  </label>
</ng-template>
