<span *ngIf="data && data.length">{{ config.groupLabel }}:</span>
<div *ngFor="let row of data">
  <ng-container
    *ngFor="let field of row; let last = last"
    webuiListElement
    [last]="last"
    [config]="field"
    [length]="config.length"
    (event)="eventHandler($event)"
    (buttonAction)="buttonHandler($event)"
  >
  </ng-container>
</div>
