@use 'variables' as *;
@use 'sass:math';
$text-color: rgba($gray, 0.8);
$shadow: 0 0 5px rgba($gray, 0.3);

$top: 100px;

.menu {
  position: fixed;
  top: $top;
  left: -200px;
  height: calc(100vh - #{$top});
  width: 200px;
  padding: 1rem;
  border-top-right-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 14px rgba(51, 51, 51, 0.1);
  transition: transform 0.3s ease-out;

  &:hover {
    transform: translateX(200px);

    .menu__mark {
      opacity: 0;
    }
  }

  &__title {
    $font-size: 24px;

    padding-bottom: 0.8rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba($text-color, 0.2);
    font-size: $font-size;
    line-height: math.div(28px, $font-size);
    color: $text-color;
  }

  &__list {
    margin: 0.5rem 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;

    & .form-element-checkbox {
      margin-bottom: 0;
    }
  }

  &__mark {
    position: absolute;
    top: 25px;
    right: -25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 55px;
    border: 1px solid rgba($gray, 0.2);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: none;
    background-color: #fff;
    color: rgba($gray, 0.5);
    transition: opacity 0.3s ease-out;
    animation: shadow-pulse 1s infinite;
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: $shadow, $shadow;
  }
  100% {
    box-shadow: $shadow, 0 0 0 16px rgba($primary, 0);
  }
}
