<webui-base-modal title="Select Dates" (dissmisEvent)="dismiss()">
  <div class="modal-body text-center">
    <ng-container webuiFormElement [config]="config" [group]="group">
    </ng-container>

    <div class="text-center">
      <button
        type="button"
        class="btn btn-shadow btn-primary text-white button-save mt-3 mb-4"
        (click)="close()"
      >
        Save
      </button>
    </div>
  </div>
</webui-base-modal>
