.fw-600 {
  font-weight: 600;
}

.f-size-6 {
  font-size: 6px;
}

.f-size-8 {
  font-size: 8px;
}

.f-size-10 {
  font-size: 10px;
}

.f-size-12 {
  font-size: 12px;
}

.f-size-14 {
  font-size: 14px;
}

.hov-opacity {
  opacity: 0.7;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
