<div
  class="form-group"
  *ngIf="!config.hide"
  [class.mb-0]="config.templateOptions?.bottom"
  [formGroup]="group"
  style="position: relative"
  [ngClass]="['input_type_' + key]"
>
  <div class="form-element" [class.inline]="config.templateOptions?.inline">
    <label
      class="form-element-label"
      *ngIf="label && config.templateOptions?.label"
      [class.inline]="config.templateOptions?.inline"
      [ngClass]="[
        config.templateOptions?.inline ? config.templateOptions?.color : ''
      ]"
      [class.bold]="config.templateOptions?.bold"
      [class.required]="config.templateOptions?.required"
      [attr.for]="key"
    >
      {{
        getTranslationKey('label')
          | translate: { Default: templateOptions?.label }
      }}
      <b
        class="text-secondary"
        *ngIf="templateOptions?.icon && templateOptions?.iconParsed"
      >
        &nbsp;({{ templateOptions?.iconParsed }})
      </b>
    </label>
    <webui-info
      *ngIf="config.templateOptions?.description"
      [description]="
        getTranslationKey('description')
          | translate: { Default: config.templateOptions?.description || '' }
      "
    ></webui-info>
    <i
      class="data-list-trigger info-icon"
      *ngIf="dataListMap"
      triggers="mouseover:mouseout"
      [placement]="'bottom'"
      [ngbTooltip]="dataListTemplate"
    >
      View
    </i>
    <div
      class="form-element-content edit"
      [class.showAll]="viewMode || config.type === 'static'"
      [class.full]="addonIcon"
      [class.flex-col]="
        (!viewMode && isPhoneField) || config.templateOptions?.type === 'email'
      "
    >
      <ng-container *ngIf="!viewMode && isPhoneField">
        <ng-container *ngTemplateOutlet="phoneField"></ng-container>
      </ng-container>

      <ng-container
        *ngIf="
          (this.config.type !== 'static' ||
            (this.config.type === 'static' && !this.config.read_only)) &&
          !viewMode &&
          !config.read_only &&
          !isAddressField &&
          !isPhoneField &&
          config.templateOptions?.type !== 'score'
        "
      >
        <ng-container *ngTemplateOutlet="inputField"></ng-container>
      </ng-container>

      <ng-container
        *ngIf="config.type !== 'static' && !viewMode && isAddressField"
      >
        <ng-container *ngTemplateOutlet="addressField"></ng-container>
      </ng-container>

      <ng-container
        *ngIf="
          !viewMode &&
          !config.read_only &&
          config.templateOptions?.type === 'score'
        "
      >
        <ng-container *ngTemplateOutlet="scoreField"></ng-container>
      </ng-container>

      <!-- <div
        class="autocomplete"
        [hidden]="!(filteredList && filteredList.length) || hideAutocomplete"
      >
        <div
          class="autocomplete-list"
          infinite-scroll
          [infiniteScrollDistance]="modalScrollDistance"
          [infiniteScrollThrottle]="modalScrollThrottle"
          [scrollWindow]="false"
          (scrolled)="onModalScrollDown()"
        >
          <ul class="list-group w-100">
            <li
              class="list-group-item autocomplete-item p-1 pl-2"
              style="cursor: pointer"
              *ngFor="let item of list"
              (click)="select(item.name)"
            >
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div> -->

      <div
        [class.readonly-value]="editMode"
        *ngIf="
          (viewMode || config.read_only) &&
          config.type !== 'static' &&
          config.templateOptions?.type !== 'score'
        "
      >
        {{ displayValue }}
      </div>

      <div *ngIf="addonIcon" class="addon">
        <fa-icon
          *ngIf="isIconName(addonIcon)"
          [icon]="['fas', addonIcon]"
        ></fa-icon>
        <img
          *ngIf="addonIcon && addonIcon.indexOf('.') > -1"
          [src]="addonIcon"
        />
      </div>

      <button
        type="button"
        *ngIf="config.key === 'password' && config.templateOptions?.addon"
        class="password"
        (click)="switchType(config.templateOptions?.type)"
      >
        <ng-container *ngTemplateOutlet="iconEye"></ng-container>
      </button>

      <span
        class="readonly"
        *ngIf="
          config.type === 'static' && config.templateOptions?.type !== 'score'
        "
        [ngClass]="config.templateOptions?.color"
        [ngStyle]="{
          fontWeight: config.templateOptions?.bold ? 'bold' : 'normal'
        }"
      >
        {{ displayValue }}
      </span>

      <div
        class="rating"
        *ngIf="
          (viewMode || config.read_only) &&
          config.templateOptions?.type === 'score' &&
          (parseScore(config.value) || !config.templateOptions?.danger)
        "
      >
        <ngb-rating [rate]="config.value" [max]="5" [readonly]="true">
          <ng-template let-fill="fill" let-index="index">
            <span *ngIf="fill === 100" class="star full">&#9733;</span>
            <span *ngIf="fill === 0" class="star">&#9733;</span>
            <span *ngIf="fill < 100 && fill > 0" class="star">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
          </ng-template>
        </ngb-rating>
      </div>

      <div
        class="text-danger"
        *ngIf="
          (viewMode || config.read_only) &&
          config.templateOptions?.type === 'score' &&
          !parseScore(config.value) &&
          config.templateOptions?.danger
        "
      >
        {{ config.templateOptions?.danger || '' | translate }}
      </div>
    </div>
  </div>
  <div class="text-danger mt-3" *ngIf="formControl?.hasError('pattern')">
    {{ config.templateOptions?.patternError }}
  </div>

  <webui-control-error [control]="formControl"></webui-control-error>
  
  <div *ngIf="errors && !viewMode && formControl.touched">
    <div class="text-danger mt-3" *ngIf="getError()">
      {{ getError() | translate }}
    </div>
  </div>
  <div *ngIf="message">
    <div *ngIf="message[config.key || '']" class="text-success mt-1">
      {{ message[config.key || ''] }}
    </div>
  </div>
</div>

<ng-template #inputField>
  <input
    #input
    class="form-control"
    webuiInputFocus
    autocomplete="new-password"
    [class.password-field]="config.key === 'password'"
    [class.pl-4]="config.templateOptions?.icon"
    [class.not-empty]="formControl.value"
    [class.addon-input]="config.templateOptions?.addon"
    [formControl]="formControl"
    [attr.type]="
      config.templateOptions?.type
        ? (config.templateOptions?.type === 'score' && 'number') ||
          config.templateOptions?.type
        : 'text'
    "
    [attr.id]="key"
    [attr.name]="key"
    [attr.placeholder]="
      getTranslationKey('placeholder')
        | translate: { Default: config.templateOptions?.placeholder || ' ' }
    "
    [readonly]="config.read_only"
    pattern="{{ config.templateOptions?.pattern }}"
    [email]="config.templateOptions?.type === 'email'"
  />
  <!-- (focus)="generateList()"
    (keyup)="filter(key)"
  /> -->

  <div
    *ngIf="
      config.templateOptions?.type === 'email' &&
      (!errors || !errors[config.key || ''])
    "
    class="error-message"
  >
    Invalid e-mail address
  </div>
</ng-template>

<ng-template #addressField>
  <input
    type="text"
    class="form-control"
    id="autocomplete"
    autocomplete="none"
    #adr
    ngx-google-places-autocomplete
    [(ngModel)]="address"
    [ngModelOptions]="{ standalone: true }"
    [attr.id]="key"
    [attr.name]="key"
    placeholder="{{
      'enter_location' | translate: { Default: 'Enter a location' }
    }}"
    (onAddressChange)="getAddress($event, adr.value)"
  />
</ng-template>

<ng-template #scoreField>
  <ngb-rating
    *ngIf="
      !viewMode && !config.read_only && config.templateOptions?.type === 'score'
    "
    [max]="5"
    (hover)="hovered = $event"
    (leave)="hovered = undefined"
    (rateChange)="hovered = undefined"
    [formControl]="formControl"
  >
    <ng-template let-fill="fill" let-index="index">
      <span
        *ngIf="fill === 100"
        [style.color]="colors[hovered || formControl.value]"
        class="star full"
        >&#9733;</span
      >
      <span
        *ngIf="fill === 0"
        [class.text-danger]="!hovered && !formControl.value"
        class="star"
        >{{ formControl.value ? '&#9733;' : '&#9734;' }}</span
      >
      <span
        *ngIf="fill < 100 && fill > 0"
        [class.text-danger]="!formControl.value"
        class="star"
      >
        <span class="half" [style.width.%]="fill">
          {{ formControl.value ? '&#9733;' : '&#9734;' }}
        </span>
        {{ formControl.value ? '&#9733;' : '&#9734;' }}
      </span>
    </ng-template>
  </ngb-rating>

  <span
    class="score"
    *ngIf="
      !viewMode && !config.read_only && config.templateOptions?.type === 'score'
    "
    [style.borderColor]="colors[hovered || formControl.value]"
    [style.color]="colors[hovered || formControl.value]"
  >
    <span *ngIf="!hovered && !formControl.value" class="text-danger">
      {{ config.templateOptions?.noneValue || '' | translate }}
    </span>
    <span class="flex items-center" *ngIf="hovered || formControl.value">
      &nbsp;
      {{ hovered || formControl.value | number: '1.1-1' }}
      &nbsp;
      <fa-icon [icon]="['fas', 'star']"></fa-icon>
    </span>
  </span>
</ng-template>

<ng-template #phoneField>
  <ngx-intl-tel-input
    #inputPhone
    [cssClass]="'custom'"
    [preferredCountries]="preferredCountries"
    [enableAutoCountrySelect]="true"
    [enablePlaceholder]="false"
    [searchCountryFlag]="true"
    [searchCountryField]="[
      SearchCountryField.Iso2,
      SearchCountryField.Name,
      SearchCountryField.DialCode
    ]"
    [selectFirstCountry]="false"
    [selectedCountryISO]="selectedCountryISO"
    [maxLength]="15"
    [phoneValidation]="true"
    [formControl]="formControl"
    name="phone"
  >
  </ngx-intl-tel-input>

  <div
    *ngIf="
      !viewMode && (!errors || !errors[config.key || '']) && formControl.touched
    "
    class="error-message"
  >
    {{ 'error.invalid_phone' | translate }}
  </div>
</ng-template>

<ng-template #dataListTemplate>
  <ul class="list">
    <li class="list__item" *ngFor="let item of dataListMap">
      <label class="list__item-label">{{ item.label }}</label>
      <span> - </span>
      <span class="list__item-value">{{ item.value }}</span>
    </li>
  </ul>
</ng-template>

<ng-template #iconEye>
  <svg width="17px" height="17px" viewBox="0 0 511.999 511.999">
    <path
      d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035
  c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
  C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
  c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
  C447.361,287.923,358.746,385.406,255.997,385.406z"
    />

    <path
      d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275
  s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516
  s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"
    />
  </svg>
</ng-template>
