@use 'variables' as *;

.contact-avatar {
  width: 54px;
  height: 54px;

  margin-bottom: 0.5rem;

  border-radius: 0.5rem;

  background-color: #f5f5f5;
}

img:not(.signature) {
  border-radius: 0.5rem;
  object-fit: cover;
}

.signature {
  width: calc(48px / 0.55);

  margin-top: 5px;

  border: 1px solid rgba($gray, 0.6);
  border-radius: 4px;
  background: white;
}

.text-opacity {
  color: #bdbdbd;
  opacity: 0.3;
}

.download-icon,
.file-icon {
  width: 12px;
  margin-right: 0.5rem;
}

.download-icon {
  display: none;
}

.mobile {
  position: relative;

  .upload-button {
    display: inline-flex;
  }

  a {
    color: $primary;
  }
}

.upload-button {
  position: absolute;
  right: 0px;
  bottom: -10px;
  display: none;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
}

a:hover {
  .file-icon {
    display: none;
  }

  .download-icon {
    display: inline-block;
  }
}

fa-icon {
  transform: translateY(2px);
}
