// @use 'variables' as *;

// .form-element {
//   margin: 0 40px 0 20px;
//   margin-bottom: 1.5rem;
// }

// .card {
//   padding-top: 15px;
// }

// .operator {
//   opacity: 0.6;

//   &.active {
//     color: $primary;
//     opacity: 1;
//   }

//   &:hover {
//     opacity: 1;
//   }
// }

// .item {
//   line-height: 35px;
// }

// .rule {
//   padding-right: 5px;

//   &-item {
//     padding: 0.2rem;

//     border: 1px solid $gray;
//     border-radius: 5px;

//     font-weight: 500;
//     white-space: nowrap;

//     opacity: 0.8;

//     &:hover {
//       cursor: pointer;

//       background-color: rgba($gray, 0.1);
//     }
//   }

//   &:hover + .buttons {
//     display: inline-flex;
//   }
// }

// .buttons {
//   position: relative;
//   display: inline-flex;
//   align-items: center;

//   &:hover {
//     display: inline-flex !important;
//   }

//   .btn:focus {
//     box-shadow: none;
//   }

//   &.hide {
//     display: none;
//   }
// }

// .reset:hover {
//   text-decoration: underline;

//   color: black;
//   cursor: pointer;
// }

:host {
    .active-button {
      @apply bg-primary text-white border-0;
    }

    .active-node {
      @apply border-primary bg-primary text-white opacity-100;
    }
}
