<div *ngIf="!purposeConfig" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<webui-dynamic-form
  *ngIf="purposeConfig"
  [config]="purposeConfig"
  (event)="changePurpose($event)"
></webui-dynamic-form>

<hr />

<div *ngIf="!showWorkflow" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<webui-workflow
  *ngIf="showWorkflow"
  [company]="company"
  [advanced]="companySettingsData.advance_state_saving"
  (changeSaving)="changeWorkflowSaving($event)"
>
</webui-workflow>

<hr />

<div *ngIf="!config" class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<webui-dynamic-form
  [config]="config"
  [formId]="formId"
  [hiddenFields]="hiddenFields"
  (submitForm)="submitForm($event)"
  (event)="eventHandler($event)"
>
  <div class="flex">
    <button
      webuiSubscriptionRequired
      type="submit"
      class="btn btn-primary ml-auto"
      [disabled]="saveProcess || form.disableSaveButton"
    >
      {{ 'save' | translate }}
      <webui-spinner *ngIf="saveProcess"></webui-spinner>
    </button>
  </div>
</webui-dynamic-form>
