<div class="header">
  {{ translationKey | translate: { Default: label } }}

  <button type="button" class="btn" *ngIf="resetButton" (click)="onReset()">
    <fa-icon icon="times-circle"></fa-icon>
  </button>
</div>
