@mixin image {
  width: 80px;
  height: 80px;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  object-fit: cover;

  &.origin {
    width: 80px;
    object-fit: contain;
    background-color: transparent;
  }
}

@mixin image-wrapper {
  position: relative;
  text-align: center;
}

@mixin image-preview {
  left: 0;
  position: absolute;
  display: none;
  max-width: 250px;
  max-height: 250px;
  border-radius: 0.5rem;
  object-fit: contain;
  z-index: 2;
  box-shadow: $basic-shadow;
  padding: 0.5rem;
  background-color: #fff;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #e0e0e0;
  }
}
