@use 'variables' as *;

:host:last-child .form-row-items {
  border-bottom: none;
}

.form-row-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  padding-bottom: 12px;
  margin-bottom: 20px;

  border-bottom: 1px solid rgba($gray, 0.1);

  .redesign & {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
    gap: 2rem;
  }

  &.hide-border,
  &.last {
    border-bottom: none;
  }

  &.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-down('md') {
    flex-direction: column;
    width: 100%;
    max-width: 100%;

    padding-bottom: 6px;
    margin-bottom: 6px;
  }
}

.item {
  display: flex;
  align-items: center;
}

@include media-breakpoint-down('md') {
  .mobile {
    margin-bottom: 0;
  }

  .form-element-content {
    height: auto;
    min-height: auto;
    max-height: none;
    line-height: 17px;
  }
}
