@use 'variables' as *;

.form {
  font-family: 'Roboto';
  color: $secondary-color;

  &__stepper {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__stepper-wrapper {
    position: relative;
    max-width: 340px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  &__stepper-progress {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $brand-light-color;
    z-index: 1;
    top: 1rem;
    transform: translateY(-50%);
    left: 0;
  }

  &__step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
    flex: 1;

    &:first-of-type::before {
      content: '';
      display: block;
      background-color: $white;
      height: 2rem;
      width: calc(50% - 1rem);
      position: absolute;
      left: 0;
      top: 0;
    }

    &:last-of-type::before {
      content: '';
      display: block;
      background-color: $white;
      height: 2rem;
      width: calc(50% - 1rem);
      position: absolute;
      right: 0;
      top: 0;
    }

    &--complete,
    &--active {
      & .form__step-index {
        background-color: $primary;
        color: $white;

        @each $item in $themes {
          .#{$item}-theme & {
            background-color: map-get($theme-colors, $item);
          }
        }
      }

      & .form__step-title {
        color: $primary;

        @each $item in $themes {
          .#{$item}-theme & {
            color: map-get($theme-colors, $item);
          }
        }
      }
    }
  }

  &__step-index {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    background-color: $brand-light-color;
    border-radius: 50%;
  }

  &__step-title {
    font-size: 0.75rem;
    line-height: 1.2;
    font-weight: 500;
    text-transform: capitalize;
    color: $secondary-color;
    text-align: center;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
