@use 'variables' as *;

:host {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  // margin: .5rem 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  button {
    align-self: flex-end;
  }
}

h6 .btn {
  font-size: 12px;
  line-height: 14px;
}

.description {
  color: $gray;
  opacity: 0.7;
  font-size: 14px;
  line-height: 16px;
}
