@use 'variables' as *;
@import 'mixins';

.form-select {
  width: auto;

  color: #828282;

  box-shadow: 0 0 6px rgba(black, 0.1);
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 32px;
  padding-left: 20px;
  min-width: 128px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include media-breakpoint-down('sm') {
    display: none;
  }
}

button {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 40px;
  margin-bottom: 0 !important;
}
