:host {
  .dashboard {
    @apply pl-6 pr-6 mx-auto max-w-[1250px] mb-6;

    &.loading {
      @apply flex items-center justify-center h-96;
    }
  }

  .widget-edit-btn {
    @apply shadow-xl text-gray-300;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -7px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;

    &:hover,
    &.active {
      @apply shadow-2xl text-gray;

      cursor: pointer;
    }
  }

  .actions {
    text-align: left;

    &-item {
      display: flex;
      align-items: center;
      padding: 6px 3px;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }

      fa-icon {
        margin-right: 5px;
      }
    }
  }

  .moving {
    @apply border border-primary-300 rounded p-6 relative hover:z-10 empty:hidden;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    @apply opacity-0;
  }
}
