<ng-container *ngIf="!token">
  <webui-navigation></webui-navigation>

  <div class="container">
    <div class="login-wrapper">
      <div class="login-title">
        <img
          class="inline-block"
          src="{{ settings.logo || '/assets/img/logo.svg' }}"
          alt=""
          height="80"
        />
      </div>

      <div class="login-form">
        <div class="login-label">
          <h5 class="title">{{ 'login.title' | translate }}</h5>
          <p class="description">{{ 'login.subtitle' | translate }}</p>
        </div>

        <webui-generic-form
          [endpoint]="endpoint"
          [data]="data"
          [errors]="error"
          [checkUsername]="true"
          [showResponse]="true"
          (redirect)="redirectHandler()"
          (responseForm)="responseHandler($event)"
          (errorForm)="errorHandler()"
          (event)="formEvent($event)"
        >
          <div class="links form-group">
            <label class="form-element-checkbox" [class.active]="rememberMe">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="rememberMe"
                hidden
              />
              <webui-checkbox [checked]="rememberMe"></webui-checkbox>
              <span>{{ 'login.remember_me' | translate }}</span>
            </label>
            <a class="forgot" href="" (click)="openResetForm()">{{
              'login.forgot_password' | translate
            }}</a>
          </div>
          <button
            class="btn btn-primary login-button"
            type="submit"
            [disabled]="loginProcess"
          >
            {{ 'login.login' | translate }}
            <webui-spinner *ngIf="loginProcess"></webui-spinner>
          </button>
        </webui-generic-form>
      </div>
    </div>
  </div>

  <div class="register-link">
    <a [routerLink]="['/registration']">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 42 42"
      >
        <polygon
          points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "
        />
      </svg>

      {{ 'login.register' | translate }}
    </a>
  </div>
</ng-container>

<ng-container *ngIf="token">
  <webui-site-loader></webui-site-loader>
</ng-container>

<!-- <webui-toast></webui-toast> -->

<ng-template #modal let-modal>
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'password.reset' | translate }}</h5>

        <webui-close-button
          class="ml-auto"
          (click)="modal.dismiss()"
        ></webui-close-button>
      </div>
    </div>
    <div class="p-3">
      <webui-generic-form
        [showResponse]="true"
        [showToastr]="false"
        endpoint="/core/contacts/forgot_password/"
      >
        <div class="flex items-center">
          <button type="submit" class="btn btn-primary ml-auto">
            {{ 'reset' | translate }}
          </button>
        </div>
      </webui-generic-form>
    </div>
  </div>
</ng-template>
