<ng-container
  *ngTemplateOutlet="tags; context: { type: 'required' }"
></ng-container>
<ng-container
  *ngTemplateOutlet="tags; context: { type: 'existing' }"
></ng-container>
<ng-container
  *ngTemplateOutlet="tags; context: { type: 'missing' }"
></ng-container>

<ng-template #tags let-type="type">
  <div
    *ngIf="config.value[type] && config.value[type].length"
    class="tags-list"
  >
    <ng-container *ngFor="let tag of config.value[type]">
      <span class="badge" [ngClass]="[type]">
        {{ tag }}
      </span>
    </ng-container>

    <span class="description">{{ labels[type] }}</span>
  </div>
</ng-template>
