@use 'variables' as *;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 80vh;
}

@include media-breakpoint-up('md') {
  agm-map {
    margin: 0 40px 20px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
  }
}

.tracking-header {
  position: relative;

  padding: 20px 16px;

  @include media-breakpoint-up('md') {
    padding: 0 40px;
    margin-top: 32px;
  }

  .title {
    font-size: 26px;
    line-height: 28px;

    @include media-breakpoint-up('md') {
      margin-bottom: 2px;

      font-size: 28px;
      line-height: 36px;
    }
  }

  .jobsite {
    margin: 0;

    font-size: 16px;
    line-height: 20px;

    opacity: 0.7;

    @include media-breakpoint-up('md') {
      margin-bottom: 20px;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 25px;

    @include media-breakpoint-up('md') {
      top: -23px;
      right: 16px;
    }
  }
}

.tracking-map {
  height: 48px;
  width: 200px;

  margin-right: 40px;
}

.tracking-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.tracking-description {
  margin-bottom: 16px;

  opacity: 0.7;
}

.tracking-time {
  margin-top: 20px;
  margin-bottom: 6px;

  font-size: 24px;
  line-height: 1;
}

.tracking-desctop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 1rem 40px 0;

  @include media-breakpoint-up('md') {
    .tracking-title-wrapper {
      min-width: 400px;
    }
  }

  webui-time-tracking {
    flex: 1 1;

    margin-left: -23px;
    margin-right: -23px;
  }
}
