@use 'variables' as *;

:host {
  display: block;
  width: 250px;
}

.body {
  padding-bottom: 1rem;

  border-top: 1px solid #f5f5f5;
}

.calendar {
  &-header {
    margin-top: 5px;
    margin-bottom: 5px;

    font-size: 10px;
    line-height: 12;

    opacity: 0.5;
  }

  &-row {
    display: flex;
    align-items: center;

    margin-top: 3px;
    margin-bottom: 3px;

    &.active {
      background-color: $primary;
      border-radius: 50px;

      cursor: pointer;

      & .calendar-button,
      & .description {
        color: white;
      }
    }

    &.week:not(.active):hover {
      background-color: #f2f2f2;
      border-radius: 50px;
    }
  }

  &-item {
    flex: 1 1;

    font-size: 12px;
    line-height: 1;

    text-align: center;

    &.active {
      background-color: $primary;

      .calendar-button {
        color: white;

        &:hover {
          background-color: $primary;
        }
      }

      &.first {
        border-radius: 50px 0 0 50px;
      }
      &.last {
        border-radius: 0 50px 50px 0;
      }
    }

    .description {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-height: 28px;
      min-width: 28px;
      opacity: 0.2;
      color: $gray;
    }
  }

  &-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-height: 28px;
    min-width: 28px;

    border: 0;
    border-radius: 50px;

    background-color: transparent;

    &:hover {
      background-color: #f2f2f2;
    }

    &.active {
      background-color: $primary;
      color: white;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;

  margin: 0 -1rem;

  border-top: 1px solid rgba(43, 46, 51, 0.2);

  .btn {
    padding: 4px 21px;

    font-size: 14px;
    line-height: 16px;
  }
}

.tooltip-inner {
  min-width: auto;
}
