@use 'variables' as *;
$min-widget-height: 198px;
$min-button-width: 257px;

:host {
  flex: 1;
}

a:hover {
  color: inherit;
}

.widget {
  height: 100%;
  width: 100%;

  &-body {
    display: flex;
    flex-wrap: wrap;
    padding: 18px 14px;

    @include media-breakpoint-down('sm') {
      padding: 9px 7px;
    }
  }

  &-button {
    display: flex;
    flex-direction: column;
    min-width: $min-button-width;
    margin: 10px 14px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    color: $gray;
    flex: 1;

    @include media-breakpoint-down('sm') {
      margin: 5px 7px;
    }

    &:nth-child(4n + 1) &-header {
      background: linear-gradient(45deg, #7faefe 0%, #80f0fe 100%);
    }

    &:nth-child(4n + 2) &-header {
      background: linear-gradient(45deg, #ffd181 0%, #ff8080 100%);
    }

    &:nth-child(4n + 3) &-header {
      background: linear-gradient(45deg, #ff7fb7 0%, #ff8080 100%);
    }

    &:nth-child(4n + 4) &-header {
      background: linear-gradient(45deg, #4ed063 0%, #befe8e 100%);
    }

    a:hover {
      text-decoration: none;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px;
      flex: 2;
      color: #fff;

      @include media-breakpoint-down('sm') {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &:hover:not(:disabled) {
        color: rgba($gray, 0.6);
      }

      svg {
        height: 24px;
        width: 24px;
        transform: rotate(-90deg);
      }
    }

    &-title {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
      color: $gray;
      opacity: 0.6;
      flex: 1;

      @include media-breakpoint-down('sm') {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      &:not(.disabled):hover {
        opacity: 1;
        color: $gray;
      }
    }
  }
}
