<div class="widget">
  <div class="widget-body">
    <ng-container *ngFor="let button of buttons">
      <div *ngIf="button.is_active" class="widget-button">
        <a [routerLink]="[getLinkToList(button)]" class="widget-button-header">
          <div>
            <h3 class="widget-button-title">
              {{
                getTranslateKey(button.translateKey, 'label')
                  | translate: { Default: button.label }
              }}
            </h3>
            {{
              getTranslateKey(button.translateKey, 'description')
                | translate: { Default: button.description }
            }}
          </div>

          <svg
            width="612px"
            height="612px"
            viewBox="0 0 612 612"
            style="enable-background: new 0 0 612 612"
            fill="currentColor"
          >
            <path
              stroke-width="2"
              d="M604.501,134.782c-9.999-10.05-26.222-10.05-36.221,0L306.014,422.558L43.721,134.782 c-9.999-10.05-26.223-10.05-36.222,0s-9.999,26.35,0,36.399l279.103,306.241c5.331,5.357,12.422,7.652,19.386,7.296 c6.988,0.356,14.055-1.939,19.386-7.296l279.128-306.268C614.5,161.106,614.5,144.832,604.501,134.782z"
            />
          </svg>
        </a>
        <a
          webuiSubscriptionRequired
          [routerLink]="[getLinkToCreateForm(button)]"
          class="widget-button-footer"
        >
          <span *ngIf="button.add_label">{{
            getTranslateKey(button.translateKey, 'add')
              | translate: { Default: button.add_label }
          }}</span>
        </a>
      </div>
    </ng-container>

    <div class="grow flex justify-center" *ngIf="!buttons">
      <webui-loader></webui-loader>
    </div>
  </div>
</div>
