<webui-base-modal (dissmisEvent)="dismiss()" title="Signature">
  <div class="modal-body">
    <webui-signature
      #signatureCanvas
      (signature)="updateSignature($event)"
    ></webui-signature>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn clear-button"
      (click)="signatureCanvas.clear()"
    >
      {{ 'clear' | translate: { Default: 'Clear' } }}
    </button>
    <button
      type="button"
      class="btn btn-shadow btn-success"
      (click)="saveSignature()"
    >
      {{ 'save' | translate: { Default: 'Save' } }}
    </button>
  </div>
</webui-base-modal>
