@use 'variables' as *;
@import 'mixins';

:host {
  .header {
    display: flex;
    gap: 0.75rem;
    color: $gray;

    @include media-breakpoint-up('sm') {
      margin-top: 0.5rem;
      margin-left: 1rem;
    }

    &-group {
      display: grid;
      gap: 0.125rem;
    }

    .title {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

    .name {
      font-size: 1rem;
      line-height: 1.25rem;
      opacity: 0.7;
    }
  }

  .modal-body {
    padding: 0;

    .clear-button {
      @include media-breakpoint-up('sm') {
        display: none;
      }
    }
  }

  .group {
    display: grid;
    gap: 0.75rem;
    padding: 1rem;
    padding-bottom: 0;

    @include media-breakpoint-up('sm') {
      padding-bottom: 0;
      padding-inline: 2.5rem;
      border-top: 1px solid rgba($gray, 0.1);
      padding-bottom: 1.25rem;
    }

    &-title {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }

  .record {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;

    &-title {
      font-size: 1rem;
      line-height: 1.375rem;
      color: #828282;
    }

    &-value {
      font-size: 1rem;
      line-height: 1.375rem;
      color: $gray;
    }

    .text-success {
      color: $success;
    }
  }

  .clear-button {
    max-width: 140px;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #e0e0e0;
    font-size: 1rem;
    color: #4f4f4f;
    background-color: #f9f9f9;

    &:focus {
      box-shadow: none;
    }
  }

  .modal-footer {
    justify-content: space-between;
    border-top: 1px solid rgba($gray, 0.1);
    margin-top: 2rem;

    @include media-breakpoint-up('sm') {
      border-top: none;
      padding-top: 0;
      margin-top: 0;
      margin-inline: 1.75rem;
      margin-bottom: 0.75rem;
    }

    .btn {
      font-size: 1.125rem;
      line-height: 1;
      padding: 0.75rem 1rem;
      width: 100%;
      margin: 0;

      @include media-breakpoint-up('sm') {
        &:not(.clear-button) {
          max-width: 200px;
        }
      }
    }

    .clear-button {
      display: none;

      @include media-breakpoint-up('sm') {
        display: inline-flex;
      }
    }
  }
}
