@use 'variables' as *;

.filters {
  &-block {
    height: calc(100vh - 76px);

    padding: 0 10px 50px;
    border-right: 1px solid $border-color;
    // box-shadow: -4px 10px 37px rgba(211, 222, 234, 0.81);
    overflow: auto;

    &.in-container {
      height: 100%;
      margin: 0 4px;
    }

    @include scrollbar();
    @include media-breakpoint-up('xl') {
      &.inline {
        width: auto;
        height: auto;
        max-height: none;

        margin: 0;
        padding: 0;

        overflow: visible;
      }
    }

    @include media-breakpoint-down('lg') {
      height: 100vh;
      max-height: 100vh;

      padding-bottom: 0px;
    }
  }

  &-label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 11px;
    margin-bottom: 12px;
    padding-bottom: 10px;

    border-bottom: 1px solid rgba($gray, 0.1);

    h5 {
      font-size: 24px;
      line-height: 24px;
      font-weight: normal;

      color: #4f4f4f;
    }

    .reset {
      font-size: 0.875rem;
      line-height: 24px;

      color: rgba($gray, 0.2);
      cursor: pointer;

      &:hover {
        color: $gray;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  .inline-container {
    margin: 0 -12px;
  }
}
