@use 'variables' as *;

:host {
  display: flex;
}

.map {
  width: 100%;
  margin-top: 6px;
  height: calc(100vh - 78px);
}

.filter-wrapper {
  height: calc(100vh - 72px);
  max-height: calc(100vh - 72px);
  width: 265px;
  min-width: 265px;

  overflow-y: auto;
  background-color: #fff;
}

@include media-breakpoint-down('sm') {
  .filter-wrapper {
    margin-left: -235px;

    transition: all 0.5s ease-out;

    &.open {
      margin-left: 0;
    }
  }
}

.map-preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  background: rgba(0, 0, 0, 0.1);
}

.legend {
  position: absolute;
  right: 10px;
  top: 132px;
  padding: 1rem;
  border-radius: 0.25rem;
  display: grid;
  gap: 0.75rem;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;

  .item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    line-height: 16px;
    color: white;

    img {
      height: 1.5rem;
      background: $white;
      padding: 0.25rem;
      border-radius: 50%;
    }
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $primary;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
