@use 'variables' as *;
$width: 266px;
$height: 80px;

.picture {
  video {
    width: 100%;
    max-width: $width;
  }

  .photo {
    width: 100%;
    max-width: $width;
    text-align: center;
    background-color: darken($gray-300, 0.7);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.image-preview {
  @include image-preview;

  &.origin {
    width: auto;
    max-width: 80px;
    object-fit: contain;
    background-color: transparent;
  }
  &.start {
    align-self: flex-start;
  }

  &:hover ~ .image-profile {
    display: block;
  }
}

img.signature {
  width: 90px;
  height: 52px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid rgba($gray, 0.7);
  object-fit: contain;
}

.contact-avatar {
  width: $height;
  height: $height;
  margin-bottom: 0.5rem;
}

.link {
  font-size: 12px;
  line-height: 14px;
  color: $primary;
  cursor: pointer;
  align-self: flex-start;

  &:hover {
    text-decoration: underline;
  }
}

.actions {
  display: inline-flex;
  align-items: center;

  span {
    margin-left: 0.5rem;
  }
}

.form-element-picture {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  align-items: center;
}

.image-profile {
  @include image;
}

// .dropzone {
//   width: 80px;
//   height: 80px;
//   background: #eef6ff;
//   border: 1px dashed #ccc;
//   border-radius: 50%;

//   overflow: hidden;

//   .fa-user {
//     color: #2196f3;
//     font-size: 3rem;
//     margin-top: 0.75rem;
//   }

//   &-wrapper {
//     margin-right: 15px;
//   }

//   &-name {
//     display: inline-block;

//     margin-bottom: 12px;

//     font-size: 11px;
//     font-family: 'Roboto';
//     line-height: 13px;
//     text-transform: uppercase;

//     opacity: 0.8;

//     &.required::after {
//       content: '*';

//       color: $danger;
//     }
//   }

//   img {
//     object-fit: cover;
//     object-position: center;
//     margin-top: -76px;
//   }
// }

// .description {
//   width: 160px;

//   margin-bottom: 8px;

//   font-size: 14px;
//   line-height: 18px;
// }

// .buttons-wrapper {
//   .action {
//     border: 1px solid $primary;

//     color: $primary;
//     background-color: transparent;

//     &:hover {
//       background-color: $primary;
//       color: white;
//     }
//   }
// }

.btn-group .btn {
  border-radius: 0.25rem;
  padding: 0.375rem;

  &:not(:last-child) {
    margin-right: 0.2rem;
  }

  fa-icon {
    margin-right: 0;
  }
}

.document-name {
  overflow: hidden;
  max-width: 180px;
  text-overflow: ellipsis;
}

.download-icon,
.file-icon {
  width: 12px;
  margin-right: 0.5rem;
}

.download-icon {
  display: none;
}

.mobile {
  position: relative;

  .upload-button {
    display: inline-flex;
  }

  a {
    color: $primary;
  }
}

.document {
  min-height: 22px;
  display: inline-flex;
  align-items: center;
}

a:hover {
  .file-icon {
    display: none;
  }

  .download-icon {
    display: inline-block;
  }
}

.picture {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: $primary;
    background-color: $brand-light-color;
    overflow: hidden;

    fa-icon {
      font-size: 2.5rem;
    }

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }

  .button-secondary {
    font-size: 14px;
    line-height: 1rem;
    text-transform: unset;
    padding: 0.5rem 1.5rem;
  }
}
