@use 'variables' as *;

:host {
  margin-top: 20px;
  min-width: 320px;
}

.tracking {
  &-timeline {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 24px;

    .line {
      height: 4px;
      width: calc(100% - 32px);

      background-color: $primary;

      @include media-breakpoint-up('md') {
        height: 2px;
        width: calc(100% - 16px);
      }
    }

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      height: 16px;
      width: 16px;

      border-radius: 50%;

      background-color: $primary;

      @include media-breakpoint-up('md') {
        height: 8px;
        width: 8px;
      }

      &-inner {
        height: 8px;
        width: 8px;

        border-radius: 50%;

        background-color: #fff;

        @include media-breakpoint-up('md') {
          height: 4px;
          width: 4px;
        }
      }
    }
  }

  &-times {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 16px 20px;

    .title {
      font-size: 16px;
      line-height: 1;

      color: $primary;
    }
  }

  &-time {
    font-size: 14px;
    line-height: 16px;
  }

  &-slider {
    display: flex;
    align-items: center;

    margin: 0 24px;
  }
}

.marker {
  position: relative;
  top: 3px;
  left: 0;
  height: 40px;

  font-size: 40px;

  color: $primary;
}

.time {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);

  font-size: 14px;
  line-height: 16px;

  color: $primary;
}

fa-icon {
  font-size: 2rem;
}
