<webui-dynamic-form [config]="config" [form]="form"> </webui-dynamic-form>

<div
  class="grid gap-4 border rounded border-primary-300 mb-4 max-w-[400px]"
  *ngIf="currentWorkflowNodes"
>
  <div class="grid" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <div
      cdkDrag
      class="flex items-center gap-2 group hover:bg-primary-200 p-2 relative"
      *ngFor="let node of currentWorkflowNodes; let index = index"
    >
      <!-- <div class="absolute w-[2px] h-full left-[23px] bg-primary-300 z-0"></div> -->
      <span class="text-gray cursor-grab"
        ><webui-svg-icon size="sm" icon="drag"></webui-svg-icon
      ></span>
      <div
        class="w-8 h-8 rounded-full inline-flex border border-primary-300 items-center justify-center text-sm bg-white relative z-[2]"
      >
        {{ index + 1 }}
      </div>

      <div class="font-semibold text-am mr-auto">
        {{
          getNodeTranslateKey(node)
            | translate: { Default: node.workflow_node.name_before_activation }
        }}
      </div>

      <div class="flex items-center gap-2 opacity-0 group-hover:opacity-100">
        <button
          type="button"
          class="btn text-warning"
          (click)="openState(node)"
        >
          <webui-svg-icon size="sm" icon="filter"></webui-svg-icon>
        </button>
        <button
          type="button"
          class="btn text-warning"
          (click)="openEditModal(node)"
        >
          <webui-svg-icon size="sm" icon="edit"></webui-svg-icon>
        </button>
        <button
          type="button"
          class="btn text-danger"
          (click)="deleteNode(node.id)"
        >
          <webui-svg-icon size="sm" icon="delete"></webui-svg-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="p-2 grid">
    <button type="button" class="btn btn-primary" (click)="addState($event)">
      Add State
    </button>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalInfo.label }}</h5>

        <webui-close-button
          class="close ml-auto"
          (click)="modal.dismiss()"
        ></webui-close-button>
      </div>
    </div>
    <div class="modal-body">
      <!-- <div class="buttons">
        <button
          webuiSubscriptionRequired
          type="button"
          class="btn btn-warning text-white"
          (click)="openEditModal(modalInfo.node, modal.close)"
        >
          <fa-icon icon="pencil-alt"></fa-icon>
          Edit
        </button>
      </div> -->

      <div class="substates">
        <div class="substates-item">
          <label class="field-title">Substates:</label>

          <div>
            <span
              class="badge badge-outline mb-1 mr-1"
              style="white-space: normal"
              (click)="openState(state, modal.close)"
              *ngFor="let state of subStates[modalInfo.id]"
            >
              {{ state.workflow_node.name_before_activation }}
              <fa-icon
                class="ml-2 text-danger"
                icon="times"
                (click)="deleteSubstate(state, $event)"
              ></fa-icon>
            </span>
          </div>

          <a
            href=""
            class="add-link mt-1"
            webuiSubscriptionRequired
            (click)="addSubstate($event, modalInfo.node)"
            >Add Substate</a
          >
        </div>

        <div class="substates-item">
          <label class="field-title">{{
            'acceptance_tests.label' | translate
          }}</label>
          <div>
            <span
              class="badge badge-outline mb-1 mr-1"
              style="white-space: normal"
              *ngFor="let test of acceptanceTests[modalInfo.node.id]"
            >
              {{ test.acceptance_test.name }}
              <fa-icon
                class="ml-2 text-danger"
                icon="times"
                (click)="deleteTest(test, modalInfo.node)"
              ></fa-icon>
            </span>
          </div>
          <a
            href=""
            class="add-link mt-1"
            webuiSubscriptionRequired
            (click)="addTest($event, modalInfo.node)"
            >Add Acceptence Test</a
          >
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #edit let-modal>
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">{{ editModalInfo.label }}</h5>

        <webui-close-button
          class="close ml-auto"
          (click)="modal.dismiss()"
        ></webui-close-button>
      </div>
    </div>
    <div class="modal-body">
      <webui-generic-form
        [endpoint]="editModalInfo.endpoint"
        [id]="editModalInfo.id"
        [data]="editModalInfo.data"
        (event)="formEvent($event, modal.close)"
        (errorForm)="formError()"
      >
        <button
          webuiSubscriptionRequired
          type="submit"
          class="btn btn-secondary bg-primary text-white button-save"
          [disabled]="saveProcess"
        >
          Save
          <webui-spinner *ngIf="saveProcess"></webui-spinner>
        </button>
      </webui-generic-form>
    </div>
  </div>
</ng-template>

<ng-template #add let-modal>
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ parentId ? 'Add Substate' : 'Add State' }}
        </h5>

        <webui-close-button
          class="close ml-auto"
          (click)="modal.dismiss()"
        ></webui-close-button>
      </div>
    </div>
    <div class="modal-body">
      <webui-dynamic-form
        [config]="addConfig.config"
        [hiddenFields]="addConfig.hiddenFields"
        (submitForm)="addStateToCompany($event, modal.close)"
      >
        <button
          webuiSubscriptionRequired
          type="submit"
          class="btn btn-secondary bg-primary text-white button-save"
          [disabled]="saveProcess"
        >
          Add
          <webui-spinner *ngIf="saveProcess"></webui-spinner>
        </button>
      </webui-dynamic-form>
    </div>
  </div>
</ng-template>

<ng-template #tests let-modal>
  <div class="modal-content-wrapper">
    <div class="modal-header-wrapper">
      <div class="modal-header">
        <h5 class="modal-title">Add Acceptance Test</h5>

        <webui-close-button
          class="close ml-auto"
          (click)="modal.dismiss()"
        ></webui-close-button>
      </div>
    </div>
    <div class="modal-body">
      <webui-dynamic-form
        [config]="addConfig.config"
        [hiddenFields]="addConfig.hiddenFields"
        (submitForm)="addAcceptenceTest($event, modal.close)"
      >
        <button
          webuiSubscriptionRequired
          type="submit"
          class="btn btn-secondary bg-primary text-white button-save"
          [disabled]="saveProcess"
        >
          Add
          <webui-spinner *ngIf="saveProcess"></webui-spinner>
        </button>
      </webui-dynamic-form>
    </div>
  </div>
</ng-template>
