@use 'variables' as *;

.filter-date-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  input.form-control {
    border-radius: 50px !important;
    border-right: 1px solid rgba($gray, 0.2);

    &:focus {
      border-right-color: $gray;
    }
  }
}

.dates {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  margin: 3px 0;

  background-color: rgba($primary, 0.15);
  opacity: 0.6;

  &-item {
    a {
      text-decoration: none;
    }

    &:not(:last-child)::after {
      display: inline-block;

      margin: 0 7px 0 6px;

      content: '/';
    }
  }
}

.form-control {
  min-height: 42px;
}

.delimiter {
  display: none;
}

.icon {
  position: absolute;
  right: 1rem;
  background-color: transparent;
  border: none;
  opacity: 0.8;
  color: $gray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  &:hover {
    opacity: 1;
  }
}

.close-button {
  position: absolute;
  right: 3.5rem;
  z-index: 3;
}
